* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, Verdana;
  background-color: #6DF8FF;
}

h1 {
  padding-bottom: 40px;
  padding-top: 30px;
  font-family: "Brush Script MT", cursive;
  font-size: 50px;
}

button {
    background-color: #9b59b6;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

#header {
  text-align: center;
}

#wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

#thumbnails {
  background-color: #3498db;
  margin-top: 500px;
  overflow: hidden;
  width: 500px;
}

#bigimage {
  width: 500px;
  display: block;
  margin-bottom: 500px;
}

.thumb {
  float: left;
  padding: 10px;
  height: 100px;
  width: 100px;
  display: block;
  cursor: pointer;
}
